@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}
.box-title-header p{
    font-size: 1.2rem;
    color: #f1294a;
    text-shadow: 1px 2px 8px #f1294a;

}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    display: inline-block;
    font-size: 1.2em;
    color: white;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #f1294a;
    padding-bottom: 5px;
    
    &:hover{
        
        color: #f1294a; 
        text-shadow: 1px 2px 8px #f1294a;
             color: #f1294a; 
             cursor: pointer;
             transform: scale(1.1);
         
     }
    }
 .box-btn-header{
        display: flex;
        gap: 1rem;
    }
.mobile-nav-links li a{
    display: inline-block;
    font-size: 1.2em;
    color: white;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #f1294a;
    padding-bottom: 5px;
    
    &:hover{
        
        color: #f1294a; 
        text-shadow: 1px 2px 8px #f1294a;
             color: #f1294a; 
             cursor: pointer;
             transform: scale(1.1);
         
     }

}

header > .box-btn-header > a > button{
    color: white;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 9px 25px;
    background-color: #f1294a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
        background-color: #a0172e;
             color: #ffffff; 
             cursor: pointer;
             transform: scale(1.2);
         }
    }



li, a, button{
    text-decoration: none;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}
.icon-x-header{
    display: none;
}

body{
    
    background: linear-gradient(#161616, #525252);
    font-family: Oswald, Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 2px 5px #0000008f;
}

.first-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 600px;

}

.first-section > div{
    display: flex;
    flex-direction: column;
}
.txt-first-section{
    padding: 30px;
    border: 3px solid #f1294a;
    border-radius: 20px;
    box-shadow: 7px 5px 10px #f1294a;
    
}

.first-section > div > p{
    padding-top: 30px;
    color: #dfdfdf;
    max-width: 420px;
    font-size: 1.2rem;
}

.box-img-main{
    border-radius: 20px;
    box-shadow: 7px 3px 15px #f1294a;
    max-width: 400px;
    border-radius: 50%;
}

.img-profile{
    border-radius: 50%;
}
.icons-first-section{
    padding-top: 18px;
    
}
.first-section a{
    display: inline-block;
    transition: 0.5s;
    &:hover{
       border-radius: 15px;
        color: #f1294a; 
        cursor: pointer;
        transform: scale(1.4);
    }
}

.second-section, .fourth-section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    min-height: 450px;
    padding-bottom: 14rem;
}


.txt-second-section{
    display: flex;
    padding: 30px;
    border: 3px solid #f1294a;
    border-radius: 20px;
    box-shadow: 7px 1px 8px #f1294a;
    max-width: 480px;
    background-color: #727272;
}
.txt-second-section > p{
    font-size: 1.2rem;
}
.body-second-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem;
}

.img-sobremim{
    width: 22rem;
    border-radius: 15%;
    box-shadow: 2px 2px 8px #adadad;
    border: 3px solid #adadad;

}

.third-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-bottom: 14rem;
}

.third-section ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.third-section ul li{
    font-size: 1.4rem;
}

.box-ul-third-section{
    padding: 3rem;
    box-shadow: 2px 2px 8px #f1294a;
    border: 5px solid #adadad;
    border-radius: 15px;
    background-color: #727272;
}




#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-shadow: 2px 2px 8px #f1294a;
    border: 5px solid #adadad;
    border-radius: 15px;
    max-width: 70rem;
    background-color: #727272;
    
}


#my-projects-list a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
        &:hover{
            transition: 0.5s;
            transform: scale(1.2);
            color: #f1294a;
            text-shadow: 1px 2px 8px #f1294a;
            cursor: pointer;
        }
}

footer{
    padding: 0rem 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.box-all-footer{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    
}

 .box-icons-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    box-shadow: 2px 2px 8px #f1294a;
    border: 5px solid #adadad;
    border-radius: 15px;
    padding: 1rem;
    max-width: 70rem;
    background-color: #727272;
 }

 .box-icons-footer > a{
    transition: 0.5s;
    &:hover{
       border-radius: 15px;
        color: #f1294a; 
        cursor: pointer;
        transform: scale(1.4);
    }
   
}

#copiar-email{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 2px 2px 8px #f1294a;
    border: 5px solid #adadad;
    border-radius: 15px;
    max-width: 70rem;
    background-color: #727272;
}

footer button{
    color: white;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 1rem;
    background-color:#f1294a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover{
        background-color: #c71f3b;
        cursor: pointer;
        transform: scale(1.2);
    
    }
}

h1{
    font-size: 4rem;
    line-height: 1.2;

}

strong{
    color: #f1294a;
}
html{
    scroll-behavior: smooth;
    
}
.title{
    font-size: 2rem;
    color: #ffffff;
    border-bottom: 2px solid #f1294a;
    padding-bottom: 5px;
}
